body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("/img/02.jpg"); */
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items:  center;
    height: auto;
    /* border: 1px solid blue; */
}

h1 {
    color: #6dc04b;
    font-family: 'DotGothic16', sans-serif;
    font-size: 4rem;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    }

.menu {
    display: flex;
    width: 80%;
    height: 50px;
    margin-top: 20px;
    border: 1px solid #6dc04b;
    box-shadow: 0 0 5px #6dc04b;
    justify-content: space-around;
    align-items: center;

    
}

.menu a {
    text-decoration: none;
    color: #6dc04b;
    font-family: 'DotGothic16', sans-serif;
    font-size: 32px;
    padding: 2px 20px;
    
}

.menu a:hover {
    color: black;
    background-color: #6dc04b;
    cursor: pointer;
      
}

.box-info-container {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 80%;
    height: auto;
    border: 1px solid #6dc04b;
    border-radius: 10px;
    box-shadow: 0 0 5px #6dc04b;
    padding: 16px;
}

/* .pin {
    width: 10px;
    height: 10px;
    border: 1px solid red;
    border-radius: 50%;
    
} */


.box-info {
          
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 90%;
    border: 1px solid #6dc04b;
    border-radius: 10px;
    align-items: center;      
}

.box-avatar { 
    

    display: flex;
    /* border: 1px solid yellow; */
    width: 95%;
    height: auto;   
    align-items: center;
    justify-content: center;
    margin: 15px;

}

.avatar {
    
       margin: 5px 10px;
       border: 1px solid #6dc04b;
       border-radius: 3px;
       width: 150px;
       height: 150px;
        
}

.text-avatar {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 85%;
    height: 150px;
    align-items: flex-start;
    justify-content: center;


}

.info-id{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    /* border: 1px solid orangered; */
    
}

.info-id h3 {
    color: #6dc04b;   
    margin: 0;
    padding: 10px;
}

.info-id p {
    color: #c04b8b;   
    margin: 0;
}

.box-info p { 
    color: white;
    font-family: 'DotGothic16', sans-serif;
    
    justify-content: right;

}

.txt-bio { 
    

    display: flex;
    border: 1px solid yellow;
    width: 95%;
    height: auto;   
    align-items: center;
    justify-content: center;
    margin: 15px;

}
.txt-bio p {
    color: #6dc04b;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30px;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 5px;
    
    
}

footer p {
    color: #6dc04b;
}